streamlit==1.29.0
gdown==5.2.0
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.1+cu118
torchvision==0.15.2+cu118
tensorflow==2.12.0
keras==2.12.0
ultralytics==8.0.124
opencv-python-headless==4.7.0.72
pillow==9.5.0
numpy==1.24.4
pandas==1.5.3
matplotlib==3.7.1
scikit-learn==1.2.2
joblib==1.2.0
